CF_API_EMAIL=your_email
CF_DNS_API_TOKEN=your_token
HOSTNAME=your_domain
PROXY_IP=proxy
HOST_IP=host
TARGET_IP=$HOST_HOSTNAME
SMTP_USERNAME=email@gmail.com
SMTP_SENDER=email@gmail.com
SMTP_PASSWORD=GoogleAppPassword
AUTHELIA_ENCRYPTION_KEY=super_secret_key
PROXY=TRUE